<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">
<header role="header">
    <div class="container">

        <!-- logo -->

        <h1> <a th:href="@{/}" title="avana LLC"><img th:src="@{/admin/images/nameLogo.png}" style="width: 600px;" title="avana LLC" alt="avana LLC"/></a> </h1>

        <!-- logo -->

        <!-- nav -->

        <nav role="header-nav" class="navy">
            <ul>
                <li th:class="${active == 'work' ? 'nav-active':''}"><a th:href="@{/}" title="Work">首页</a></li>
                <li th:class="${active == 'about' ? 'nav-active':''}"><a  th:href="@{/about}" title="About">个人介绍</a></li>
                <li th:class="${active == 'blog' ? 'nav-active':''}"><a th:href="@{/blog/index}" title="Blog">个人随笔</a></li>
            </ul>
        </nav>

        <!-- nav -->

    </div>
</header>
</html>